body{
	background-image: linear-gradient(150deg, #22ad4b, #52de7b);
}
.app-main-container{
	/*background-color: #28373e;*/
}

.app-inner-container{
	background-color: #22ad4b;
	margin:0 auto;
	width:500px;
	box-shadow: 5px 10px 5px #23ac4c;
}

small{
	display:block;
	visibility: hidden;
}

.error-field small {
	color:red;
	visibility: visible;
}
.app-modal-bg{
	background-color: rgba(0,0,0,0.5);
	height:100vh;
	width:100%;
	position:fixed;
	top:0;
	left:0;
	/*display:flex;
	justify-content:center;
	align-items:center;*/
	visibility: hidden;
	opacity: 0;
	transition: visibility 0s, opacity 0.5s;
}

.modal-bg-active{
	visibility: visible;
	opacity:1;
}

.app-modal{
	background-color: #fff;
	height:30%;
	width:55%;
	/*display:flex;
	justify-content:center;
	align-items:center;
	flex-direction: column;*/
}